# Pipeline monitoring SLOs
MAX_LAG_ROWS=60
MAX_LOAD_AGE_MINUTES=2880

# Pipeline Alerting Email Settings
MAILTRAP_HOST=smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=<YOUR_MAILTRAP_USERNAME>
MAILTRAP_PASSWORD=<YOUR_MAILTRAP_PASSWORD>
ALERT_EMAIL_FROM=<YOUR_ALERT_EMAIL_FROM>
ALERT_EMAIL_TO=<YOUR_ALERT_EMAIL_TO>

# RetailPulse warehouse
POSTGRES_DB=<YOUR_POSTGRES_DB>
POSTGRES_USER=<YOUR_POSTGRES_USER>
POSTGRES_PASSWORD=<YOUR_POSTGRES_PASSWORD>

# Airflow internal database/authentication
AIRFLOW_DB_NAME=<YOUR_AIRFLOW_DB_NAME>
AIRFLOW_DB_USER=<YOUR_AIRFLOW_DB_USER>
AIRFLOW_DB_PASSWORD=<YOUR_AIRFLOW_DB_PASSWORD>
AIRFLOW_JWT_SECRET=<YOUR_AIRFLOW_JWT_SECRET>
